# Workflow to run the pytest test suite.

name: pytest CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: PyTest CI (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      # Make sure matplotlib uses a non-interactive backend. Removing this leads to CI failure on Windows.
      MPLBACKEND: Agg
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Set up Python
        run: uv python install 3.10

      - name: Install the project
        run: uv sync

      - name: Run tests
        run: uv run pytest --cov=neuralhydrology
